<div>
	<h5 ng-model="actorResult">{{actorResult}}</h5>
	<hr/>
<div>
<div ng-repeat="actor in actorList" info="actor">		
	<div class="col-md-3 topic">
		<h5 class="text-muted text-center">{{actor.name}}</h5>
		<a href="#/actorDetail/{{actor.id}}">
			<img class="center-topic thumbnail" src="http://image.tmdb.org/t/p/w130/{{actor.profile_path}}" ng-hide="actor.profile_path == null"/>
			<img class="center-topic thumbnail" src="app/images/default_img.png" ng-hide="actor.profile_path != null"/>
		</a>
	</div>
</div>

<button ng-click="getMorePeople()" ng-hide="actorList.length == 0" class="btn btn-success">Find more results</button>
